// content styles
#content
    padding-top mobile-header-height
    height 100vh
    box-sizing: border-box
    width 100%
    overflow: hidden

@media desktopscreen
    #content
        padding-top: header-height