doctype html
html(lang="de")
    head
        meta(charset='utf-8')
        
        //- Title and Description
        title Dein Digitaler Versicherungsmakler - AssBoto
        meta(name='description', content='Assboto ist dein Digitaler Versicherungsmakler, Um Risiken speziell im Digitalen Bereich zu versichern. Cybercrime, Content Creator, Onlineshops uvw. sind genau richtig hier.')
        
        //- Open Graph meta Tags
        meta(property='og:image' content="https://")
        meta(property='og:title' content="Dein Digitaler Versicherungsmakler - AssBoto")
        meta(property='og:description' content='Assboto ist dein Digitaler Versicherungsmakler, Um Risiken speziell im Digitalen Bereich zu versichern. Cybercrime, Content Creator, Onlineshops uvw. sind genau richtig hier.')
        meta(property='og:type' content="website")
        meta(property='og:url' content="https://")
        meta(property='og:locale' content="de_DE")

        //- Manifest
        link(rel='manifest' href='manifest.json')

        //- Favicon
        
        link(rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/svg+xml" href="/favicon.svg")
        link(rel="shortcut icon" href="/favicon.ico")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        
        meta(name="theme-color", content="#ffffff")
        
        //- Screen
        meta(name='viewport', content='width=device-width, initial-scale=1.0')



        include styles-include.pug
    body
        include ../../source/index/indexbody.pug
        include scripts-include.pug
