//- chatframe structure
include ../preloadermodule/preloader-mixins.pug

//- #chatframe.response
#chatframe.no-response
    #response-section
        #response-history
            #live-response
            #response-wait-frame
                p Lass mich kurz nachdenken... 
                +preloader("response-preloader", "circles")

    #no-response-section 
        h1 Wie kann ich Ihnen weiterhelfen?
    #input-outer
        #user-input.initial(contenteditable="true")
            p Bitte gib mir Auskunft zu ...
        #send-button.click-button: svg: use(href="#svg-send-icon")

