//- chatframe structure
//- #chatframe.response
#chatframe.no-response
    #response-section
        #response-history
            #user-message 
                p Hallo, wie war dein Tag heute?
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            #user-message 
                p Das is aber super!
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
            p awdawdawd awdawd awda awd awdawd awd awd awd awd aw daw da d aw 
    #no-response-section 
        h1 Wie kann ich Ihnen weiterhelfen?
    #input-outer
        #user-input.initial(contenteditable="true")
            p Bitte gib mir Auskunft zu ...
        #send-button.click-button: svg: use(href="#svg-send-icon")

