// header styles
#header
    background-color #fff
    color #000
    padding 15px 0 15px 15px
    width 100%
    box-sizing: border-box
    position fixed
    z-index 3

    display flex
    justify-content: flex-start
    align-items: center
    gap 15px

    h1
        font-size 18pt
        line-height: 45px
        span
            font-size 14pt

#header-logo
    width: 45px
    height 45px
    color cd-light-blue
    img
        width inherit
        height inherit

#header.no-history
    #delete-history-button
        display none

#delete-history-button.click-button::after
    background-color black
#delete-history-button
    margin-left auto
    // position absolute
    // top 20px
    // right 20px
    // background-color #000
    color #000
    display flex
    align-items: center
    border-radius: 3px
    border solid 2px #000
    padding 3px
    // box-shadow: 0 0 5px #fff
    font-size: 16pt
    span
        display none
        // text-decoration: underline
        margin-left 5px
    svg
        height 33px
        width 33px


@media desktopscreen
    #delete-history-button
        span
            display block
            padding-right 5px
    #header-logo
        width: 60px
        height 60px

    #header
        padding 20px
        gap 20px

        h1
            font-size 25pt
            line-height: 60px

